@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dao-font;
  src: url('../assets/fonts/source-code-pro.ttf');
}

@font-face {
  font-family: dao-font-italic;
  src: url('../assets/fonts/source-code-pro-italic.ttf');
}

@font-face {
  font-family: ethnocentric-font;
  src: url('../assets/fonts/ethnocentric-rg.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: dao-font;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-background {
  background-color: black;
}

/*colors*/
.darkest_gold {
  color: #895f1f;
}

.medium_gold {
  color: #c6a000;
}

.lightest_gold {
  color: #f6d42e;
}

.lightest_gray {
  color: #efefef;
}

.medium_gray {
  color: #999999;
}

.main_header .nav-menu-wrapper {
  background: linear-gradient(0.25turn, #88601f11, #88601f);
}

.section-info-wrapper > p {
  color: white;
}

.caption-wrapper .caption {
  font-size: 28pt;
  font-family: ethnocentric-font;
  text-align: center;
}

/* .welcome-section .section-container {
  width: 400px;
} */

.center-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}
@media screen and (min-width: 1280px) {
  .center-container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .center-container {
    max-width: 950px;
  }
}

@media screen and (max-width: 768px) {
  .center-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 640px) {
  .center-container {
    max-width: 550px;
  }
}

.nav-item-wrapper .nav-item {
  display: inline-block;
  font-size: 12pt;
  font-weight: 700;
}

.dao-btn-wrapper {
  font-size: 15pt;
  height: 60px;
  background: linear-gradient(#c6a000, #895f1f);
}

.nft-card-shadow {
  box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.5);
}

.membership-card-viewer .membership-card,
.allocation-card {
  box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 20px, rgba(200, 200, 200, 0.2) 0px -4px 20px,
    rgba(200, 200, 200, 0.2) 0px 6px 80px;
}

.allocation-card .title {
  font-size: 20pt;
  font-family: ethnocentric-font;
}

.welcome-section {
  /* margin-bottom: 110px; */
}

.team-section .founder-info p,
.team-section .artists-info p {
  color: white;
  font-size: 20pt;
  font-family: ethnocentric-font;
}
.membership-card-viewer .card1 {
  background: linear-gradient(#b08000, #895f1f);
}

.faq-wrapper {
  color: #ffffffee;
}
.Collapsible .Collapsible__trigger {
  display: block;
  position: relative;
}

.Collapsible .Collapsible__trigger.is-open::after {
  content: '-';
  color: white;
  right: 0;
  top: -8px;
  position: absolute;
  font-size: 25px;
}

.Collapsible .Collapsible__trigger.is-closed::after {
  content: '+';
  color: white;
  font-size: 25px;
  right: 0;
  top: -8px;
  position: absolute;
}

.community-section .dao-font-bold {
  font-size: 20pt;
  font-weight: 600;
}

.footer-wrapper {
  background-image: url('../assets/images/logo-mark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmap-wrapper .roadmap-list {
  position: relative;
}
.roadmap-wrapper .timeline {
  top: 0px;
  bottom: 0px;
  left: -10px;
  width: 5px;
  background-color: white;
  position: absolute;
}

.roadmap-wrapper .roadmap-list-item span {
  font-family: ethnocentric-font;
}

.roadmap-wrapper .roadmap-list-item .item-content {
  white-space: pre-line;
}

.roadmap-wrapper .roadmap-list-item:before {
  content: '';
  position: absolute;
  background-color: #898783;
  height: 18px;
  text-align: center;
  transform: rotate(45deg);
  width: 18px;
  top: 3px;
  left: -16px;
}

.roadmap-wrapper .roadmap-list-item.active::before {
  background: linear-gradient(42.84deg, #895f1f -0.59%, #f6d42e 101.55%);
}

.roadmap-wrapper .roadmap-list-item .roadmap-content-link {
  display: block;
  font-weight: 600;
  text-decoration: underline;
}

.roadmap-section .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.membership-section .background {
  position: absolute;
  top: -200px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width: 1100px;
}

.team-section .background {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  top: -100px;
  bottom: 400px;
  right: 0px;
}

.faq-section .background {
  position: absolute;
  top: -200px;
  bottom: 0px;
  max-width: 1200px;
  width: 100%;
  left: 0px;
}

.carousel-background {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: #895f1f;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.carousel-root {
  position: relative;
}
.carousel-root .carousel {
  position: initial !important;
}

.carousel-root .carousel .control-dots {
  bottom: -60px;
}

.nft-section-info h2 {
  text-align: left !important;
}
