@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dao-font;
  src: url('../assets/fonts/source-code-pro.ttf');
}

@font-face {
  font-family: dao-font-italic;
  src: url('../assets/fonts/source-code-pro-italic.ttf');
}

@font-face {
  font-family: ethnocentric-font;
  src: url('../assets/fonts/ethnocentric-rg.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: dao-font;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main_header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.main_header .logo-small-img {
  display: none;
}

.main_header.fixed.animation .logo-small-img {
  display: block;
}
.main_header.fixed .logo-big-img {
  display: block;
}

.main_header.fixed.animation .logo-big-img {
  display: none;
}

.main_header.fixed {
  top: -200px;
  z-index: 100;
  opacity: 0;
}

.main_header.fixed.animation {
  background: black;
  position: fixed;
  top: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

.main_header.fixed .wallet-connection-wrapper {
  display: none;
}
.page-background {
  background-color: black;
}

/*colors*/
.darkest_gold {
  color: #895f1f;
}

.medium_gold {
  color: #c6a000;
}

.lightest_gold {
  color: #f6d42e;
}

.lightest_gray {
  color: #efefef;
}

.medium_gray {
  color: #999999;
}

.main_header .nav-menu-wrapper {
  background: linear-gradient(0.25turn, #88601f11, #88601f);
}

.section-info-wrapper {
  word-break: break-word;
}
.section-info-wrapper > p {
  color: white;
}

.caption-wrapper .caption {
  font-size: 28pt;
  font-family: ethnocentric-font;
  text-align: center;
}
.caption-wrapper .caption-left {
  font-size: 28pt;
  font-family: ethnocentric-font;
  text-align: left;
}

.center-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.mobile-button {
  display: none;
  position: absolute;
  width: 26px;
  height: 26px;
  float: right;
  top: 50%;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mobile-button:before,
.mobile-button:after,
.mobile-button span {
  background-color: #ffffff;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.mobile-button:before,
.mobile-button:after {
  content: '';
  position: absolute;
  top: 0;
  height: 3px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.mobile-button span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}

.mobile-button:before {
  -webkit-transform: translate3d(0, -7px, 0);
  -moz-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
}

.mobile-button:after {
  -webkit-transform: translate3d(0, 7px, 0);
  -moz-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
}

.mobile-button.active span {
  opacity: 0;
}

.mobile-button.active:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.mobile-button.active:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.nav-item-wrapper .nav-item:first {
  /* responsive work */
  margin-top: 0;
}
.nav-item-wrapper .nav-item {
  display: inline-block;
  font-size: 12pt;
  font-weight: 700;
}

.nav-item-wrapper.show-menu .nav-item {
  display: inline-block;
}

/* .dao-btn-wrapper {
  background: linear-gradient(#c6a000, #895f1f);
} */

.nft-card-shadow {
  box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.5);
}

.membership-card-viewer span {
  transition: all 0.7s ease 0s;
}

.membership-card-viewer .membership-card,
.allocation-card {
  box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 20px, rgba(200, 200, 200, 0.2) 0px -4px 20px,
    rgba(200, 200, 200, 0.2) 0px 6px 80px;
}

.membership-card-viewer .membership-card {
  transition: height 0.7s ease 0s, box-shadow 0.7s ease 0s, top 0.7s ease 0s, opacity 0.8s;
}
.membership-card-viewer .membership-card:hover {
  transition: height 0.7s ease 0s, box-shadow 0.7s ease 0s, top 0.7s ease 0s, opacity 0.8s;
  box-shadow: #aaeeaa 0px 0px 10px 2px, #aaeeaa 0px 0px 10px 2px inset;
}

.allocation-card .title {
  font-size: 20pt;
  font-family: ethnocentric-font;
}

.team-section .founder-info p,
.team-section .artists-info p {
  color: white;
  font-size: 20pt;
  font-family: ethnocentric-font;
}

/* .membership-card-viewer .card1 {
  background: linear-gradient(#b08000, #895f1f);
} */

.faq-wrapper {
  color: #ffffffee;
}
.Collapsible .Collapsible__trigger {
  display: block;
  position: relative;
  font-weight: 700;
  padding-bottom: 8px;
}

.Collapsible .Collapsible__trigger.is-open::after {
  content: '-';
  color: white;
  right: -20px;
  top: -8px;
  position: absolute;
  font-size: 25px;
}

.Collapsible .Collapsible__trigger.is-closed::after {
  content: '+';
  color: white;
  font-size: 25px;
  right: -20px;
  top: -8px;
  position: absolute;
}

.community-section .dao-font-bold {
  font-size: 20pt;
  font-weight: 600;
}

.footer-wrapper {
  background-image: url('../assets/images/logo-mark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmap-wrapper .roadmap-list {
  position: relative;
}
.roadmap-wrapper .timeline {
  top: 0px;
  bottom: 0px;
  left: 7px;
  width: 5px;
  background-color: white;
  position: absolute;
}

.roadmap-wrapper .roadmap-list-item span {
  font-family: ethnocentric-font;
}

.roadmap-wrapper .roadmap-list-item .item-content {
  white-space: pre-line;
}

.roadmap-wrapper .roadmap-list-item:before {
  content: '';
  position: absolute;
  background-color: #898783;
  height: 18px;
  text-align: center;
  transform: rotate(45deg);
  width: 18px;
  top: 3px;
  left: -16px;
}

.roadmap-wrapper .roadmap-list-item.active::before {
  background: linear-gradient(42.84deg, #895f1f -0.59%, #f6d42e 101.55%);
}

.roadmap-wrapper .roadmap-list-item .roadmap-content-link {
  display: block;
  font-weight: 600;
  text-decoration: underline;
}

.roadmap-section .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.community .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.membership-section .background {
  position: absolute;
  top: -100px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width: 100%;
}

.team-section .background {
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 20px;
  bottom: 400px;
  right: 0px;
}

.faq-section .background {
  position: absolute;
  top: -400px;
  height: 1300px;
  max-width: 100%;
  width: 100%;
  left: 0px;
}

.carousel-background {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: #895f1f;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.carousel-root {
  position: relative;
}
.carousel-root .carousel {
  position: initial !important;
}

.carousel-root .carousel .control-dots {
  bottom: -60px;
}

.nft-section-info h2 {
  text-align: left !important;
}

@media screen and (min-width: 1024px) {
  .center-container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .center-container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .center-container {
    max-width: 650px;
  }

  .mobile-button {
    display: block;
  }

  .nav-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-item-wrapper .nav-item {
    display: none;
    width: 100%;
    background: black;
    z-index: 1;
  }

  .nav-item-wrapper .nav-item:first-child {
    margin-top: 50px;
  }

  .main_header .logo-small-img {
    display: block;
  }

  .main_header .logo-big-img {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .center-container {
    max-width: 550px;
  }
}

.ReactModal__Overlay {
  background-color: #111111ee !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  border: none !important;
  background: transparent !important;
}
.ReactModal__Overlay--after-open {
  z-index: 5;
}

.ReactModal__Content--after-open {
  padding: 0 !important;
  border-radius: 40px !important;
  overflow: hidden;
}

.modal-wrapper .modal-title {
  font-weight: 400;
  font-family: ethnocentric-font;
}

.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.countdown .clock-item {
  list-style: none;
  height: auto;
}
@media (max-width: 768px) {
  .countdown .clock-item {
    width: 60px;
  }
  .countdown .clock-item .count-number {
    font-size: 16px;
    padding: 10px;
  }
  .countdown .clock-item .count-text {
    font-size: 10px;
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .countdown .clock-item {
    width: 70px;
  }
  .countdown .clock-item .count-number {
    font-size: 24px;
    padding: 12px;
  }
  .countdown .clock-item .count-text {
    font-size: 12px;
    padding: 8px;
  }
}

@media (min-width: 992px) {
  .countdown .clock-item {
    width: 80px;
  }
  .countdown .clock-item .count-number {
    font-size: 32px;
    padding: 14px;
  }
  .countdown .clock-item .count-text {
    font-size: 14px;
    padding: 8px;
  }
}

@media (min-width: 1200px) {
  .countdown .clock-item {
    width: 100px;
  }
  .countdown .clock-item .count-number {
    font-size: 40px;
    padding: 16px;
  }
  .countdown .clock-item .count-text {
    font-size: 16px;
    padding: 8px;
  }
}
.countdown .clock-item .count-number {
  background: linear-gradient(216.56deg, #e7c52a 5.32%, #68570e 94.32%) !important;
  color: white;
  font-weight: 500;
  font-family: ethnocentric-font;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: white;
  font-family: dao-font;
  color: #00163f;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 #be7efe;
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-family: ethnocentric-font;
  text-align: center;
}
.video-tag {
  object-fit: cover;
}

.ReactModal__Content.ReactModal__Content--after-open {
  margin-top: 36px;
}

.mint-compontent-input {
  background: transparent;
}

.ribbon {
  width: 135px;
  height: 135px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 0;
  content: '';
  display: block;
  border: 5px solid #530a3d;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #730a8d;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
